@{
    ViewBag.Title = "About ClaimsAuth";
}
<h2>@ViewBag.Title.</h2>

<p>A generic claims based access control system ASP.NET MVC 5 with Identity 2.0.</p>

<p>
    Code follows following the blog post series:
    <a href="http://blog.dinklabs.com/2015/11/mvc-fine-grained-identity-access-control-1.html">aASP.NET MVC Fine Grained Identity & Access Control - Part 1</a>
</p>
