@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2> 

<address>
    @@RomeshNiriella
</address>

<address>
    <strong>Blog:</strong>   <a href="http://blog.dinklabs.com/">blog.dinklabs.com</a><br />
    <strong>Web:</strong> <a href="http://dinklabs.com/">dinklabs.com</a>
</address>